blessings==1.7
distro==1.4.0
hystck==1.0
libvirt-python==5.9.0
marionette-driver==3.0.0
mozdevice==3.0.6
mozfile==2.1.0
mozinfo==1.2.1
mozlog==5.0
mozprocess==1.0.0
mozprofile==2.4.0
mozrunner==7.7.0
mozterm==1.0.0
mozversion==2.2.0
pkg-resources==0.0.0
PyYAML==5.1.2
six==1.13.0
urllib3==1.23
