asn1crypto==0.24.0
blessings==1.7
certifi==2018.1.18
chardet==3.0.4
cryptography==2.1.4
distro==1.4.0
enum34==1.1.6
idna==2.6
ipaddr==2.2.0
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
libvirt-python==4.0.0
marionette-driver==3.0.0
mozdevice==3.0.6
mozfile==2.1.0
mozinfo==1.2.1
mozlog==5.0
mozprocess==1.0.0
mozprofile==2.4.0
mozrunner==7.7.0
mozterm==1.0.0
mozversion==2.2.0
netaddr==0.7.19
netifaces==0.10.9
protobuf==2.5.0
psutil==5.6.7
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyOpenSSL==17.5.0
pyxdg==0.25
requests==2.18.4
SecretStorage==2.3.1
selenium==3.141.0
six==1.13.0
urllib3==1.23
